@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Welcome to the NBA Page!</h1>
        <p class="lead">This website provides the latest information on NBA matches, teams, and players.</p>
        <hr class="my-4">
    </div>
</div>




